  
<%= form_tag article_path, method: "patch" do %>
  <label>Article title:</label><br>
  <%= text_field_tag :'article[title]', @article.title %><br>

  <label>Article Description</label><br>
  <%= text_area_tag :'article[description]', @article.description %><br>

  <%= submit_tag "Submit Article" %>
<% end %>